

html, body {
    height: 100%;
    width: 100%;
    background-color: silver;
    display: flex;
}
.box_pie {
    margin: auto;
    display: flex;
    width: 350px;
    height: 350px;
    border: 1px solid darkslategrey;
}
svg {
    margin: auto;
}

#new {
    background-color: green;
}


.blue_p {
    background-color: blue;
    border: 3px solid black;
}


